package views

templ Header() {
    <header class="h-24 dark:bg-slate-600 dark:text-white flex items-center gap-4">
        <div class="h-full w-72 dark:bg-slate-950 flex items-center p-9">
            <span class="text-3xl">VISITORS</span>
        </div>
        @Icon("apps")
        @Icon("message")
        @Icon("bell")
    </header>
}
